* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background: #35424A;
}

#main {
    position: absolute;
    display: flex;
    width: 70%;
    left: 16%;
    box-sizing: border-box;
    background-color: #D1CFC0;
    height: 85%;
}

.slideWrapper {
    width: 100%;
    display: flex;
}

.slideWrapper div {
    width: 7%;
    margin: auto;
    margin-top: 5px;
    font-size: 30px;
    color: rgb(236, 231, 231);
}

#slider2 {
    margin-right: 19%;
}

#slider1 {
    margin-left: 22.5%;
}

.slidecontainer {
    display: flex;
    margin: auto;
}

.slider {
    -webkit-appearance: none;
    width: 20%;
    margin: auto;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
