* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.paraNum{
    color:rgb(49, 49, 49);
    font-size: 16px;
    font-weight: 450;
    margin:1px;
    margin-top: 6px;
    text-align: center;
}

.rect{
    border-radius: 10px 10px 0px 0px;
}
body {
	font-family: 'Poppins', sans-serif;
}
.button {
	font-family: 'Poppins', sans-serif;
}
.buttonHolder{
    display:flex;
    width: 70%;
    margin:auto;
    margin-bottom: 15px;
}
.buttonHolder input{
    flex:0.5;
    margin: 20px 0px 2px 20px;
    left:10%; 
    font-size: 23px; 
    font-weight: 500;
}

.button{
    margin-top: 25px;
    height:38px;
    width: 90px;
    background: #e8491d;
    border: none;
    font-weight: 600;
    color: rgb(236, 231, 231);
}
.buttonInd{
    margin-left:20px;
}
.logo-img{
    height: 70px;
    width: 70px;
    margin-bottom: 15px;
    padding-bottom: 4px;
}
.container{
    background: #35424A;
    /* border-bottom: ; */
}
header {
    background: #35424A;
	display: flex;
	width: 90%;
	height: 8vh;
	margin: auto;
    align-items: center;
    color: rgb(236, 231, 231);
    /* border-bottom: 2px solid black; */
}

.logo-container,
.nav-links {
	display: flex;
}

.logo-container {
	flex: 2;
}
.logo {
    font-weight: 400;
    font-size:20px;
	margin: auto -10px;
}
nav {
	flex: 1.2;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.list-items{
    text-decoration: none;
    font-weight: 400;
    color: rgb(236, 231, 231);
}

.introduction{
    background: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    text-align: center;
    height: 53vh;
    padding: 8vh 6vh 8vh 6vh;
    line-height: 2;
    color: rgb(236, 231, 231);
}
.title{
    font-size: 38px;
    font-weight: 600;
}
.info{
    width:70%;
    margin:auto;
    font-weight: 450;
}

#newsletter{
    padding: 15px;
    color: rgb(236, 231, 231);
    background:#35424a;
    height: 90px;
}

#newsletter h1{
    float: left;
    margin-left: 40px;
    margin-top: 10px;
}

#newsletter form{
    float: right;
    margin-top: -15px;
    margin-right: 60px;
}

#newsletter form input{
    height: 38px;
}

#boxes{
    margin-left: 25vh;
    margin-top:20px;
}

#boxes .box{
    float:left;
    text-align: center;
    width:40%;
    padding:10px;
    margin: 0px 10px 0px 10px;
}
 
#boxes .box img{
    width:90px;
}

/* 
footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#e8491d;
    text-align: center;
} */
/* 
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #35424a;
}
button {
	font-family: 'Poppins', sans-serif;
}

header {
    background:#35424a;
	display: flex;
	width: 90%;
	height: 10vh;
	margin: auto;
	align-items: center;
}

.logo-container,
.nav-links{
	display: flex;
}

.logo-container {
	flex: 2;
}
.logo {
    font-weight: 400;
    font-size: 21px;
    padding-top: 14px;
}
nav {
	flex: 1;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.list-items{
    text-decoration: none;
    font-weight: 400;
}
.logo-img{
    height: 55px;
} */
